button{
    font-size: 30px;
}

.frame{
    position: relative;
    width: 100%;
    overflow:hidden ;
}

button{
    position: absolute;
    top: 50%;
}

#left{
    left: 0;
}

#right{
    right: 0;
}


.visible{
    display: block;
}

img{
    display: none;
}