
button{
  height: 100px;
  width: 100px;
  border-radius: 50%;;
  background-color:#2f2f2f ;
  color: white; 
  font-size: 30px;
  border: 1px solid black;
  
}

#result{
color: white;
}

.whole{
  height: fit-content; 
   width: fit-content;
  background-color: black;
  padding: 20px;
}
.display{
  padding: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: black;
  margin-bottom: 10px;
  width: 430px;
  height: 140px;
  font-size: 40px;

}
.frame{
  height: fit-content;
  width: fit-content;
  display: grid;
  grid-template-columns: 25% 25% 25% 25% ;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}


.operator{
  background-color:  #ff9200;
}

.sepcial{
  background-color: #5b5b5b;
}

